/*
* Brand Colors
*/
$brand-primary:   #3197EE;
$brand-success:   #4dbd74;
$brand-error:     #f86c6b;
$brand-warning:   #f8cb00;

/*
* Sidebar
*/
$navbarColor: #fff;

/*
* Sidebar
*/
$sidebarWidth: 300px;
/*
* Z-Index list
*/
$sidebarIndex: 1050;
